<?xml version="1.0"?>
<configuration>

  <location path="Register.aspx">
    <system.web>
      <authorization>
        
        <!--仅管理员可访问设置-->
        <!--<allow roles="Administrator"/>
        <deny users="*"/>-->
        
        
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

</configuration>
